---
layout: nil
---
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  
  <link rel="alternate" type="application/rss+xml" title="{{site.title}}"
        href="http://parsedout.com/rss.xml" />
  <title>{{ site.title }} - {{ page.title }}</title>
  <style type="text/css" media="screen">
    @import "/styles/basic.css";
  </style>
</head>
{% if page.sidebar %}<body class="sidebar">{% else %}<body>{% endif %}

<div id="header">
    <h1><a href="/">{{ site.title }}</a></h1>
</div>

{% if page.sidebar %}
{% include sidebar.html %}
{% endif %}

<div id="content">
{{ content }}
</div><!--#content-->

<div id="footer">
    <hr />
{% if page.mtime || post.mtime %}
    <div class="meta updated">
    {% if page.mtime %}<p>Last modified <span class="date">{{ page.mtime }}</p>
    {% else %}<p>Last modified <span class="date">{{ post.mtime }}</p>{% endif %}
    </div><!--.meta.updated-->
{% endif %}
</div><!--#footer-->

<div id="analytics">
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11489436-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</div><!--#analytics-->

<style type="text/css">
  @import "/styles/syntax.css";
  @import "/styles/style.css";
</style>

<script type="text/javascript" src="/scripts/script.js"></script>


</body>
</html>