
body {
    width: 45em;
}
body.sidebar {
    width: 60em;
}

br.clear {
    clear: both;
}

h1 a, h2 a, h3 a {
    text-decoration: none;
    color: inherit;
    display: block;
}

/* Header stuff */

#header {
    margin-bottom: 1em;
}
#header .description {
    margin: 1.5em 0 3em 0;
}

body.sidebar #content {
    width: 40em;
    margin-right: 5em;
}


.date {
    font-size: smaller;
    font-style: italic;    
}

.post .date {
    margin-left: -0.75em;
}

div.post {
    margin-bottom: 2.5em;
}

div.maruku-equation {
    text-align: center;
}

/* Pagination */
#pagination {
    margin: 1em auto;
    text-align: center;
}
#pagination ul {
    margin: 0;
    padding: 0;
}
#pagination ul li {
    list-style-type: none;
}
#pagination li.back {
    float: left;
}
#pagination li.forward {
    float: right;
}


/* Sidebar */
div#sidebar {
    float: right;
    width: 15em;
}
div#sidebar div.first h2 {
    margin-top: 0;
}
div#sidebar ul {
    margin: 0;
    padding: 0;
}
div#sidebar div ul li {
    margin-bottom: 0.5em;
}


/* Footer */
div#footer {
    margin-top: 2em;
    clear: both;
}